.calculator {
    width: 275px;
    margin: auto;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 50px -7px black;
    background: #3A4655;
    padding: 10px;
}
.display {

}
.delete {

}
.clear {

}
.op {

}
.num {
    
}